.body{
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

.wrapper{
    margin: 20px auto;
    max-width: 2000px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.header{
    padding-top: 118px;
    padding-bottom: 25px;
    width: 37%;
    /*width: 46%;*/
    text-align: center;
    margin: 0 auto;

}

.header__title{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 36px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.header__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    color: #798285;
    letter-spacing: 1.6px;
}

.main{
    max-width: 1225px;
    width: 62%;
    /*width: 79%;*/
    margin: 0 20% 15%;
    /*margin: 0 12% 15%;*/
}

.disc{
    font-size: 0;
    padding-top: 90px;
    display: flex;
}

.disc:last-child{
    padding-top: 65px;
}

.disc__date-title{
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
}

.disc__description{
    width: 60%;
    box-sizing: border-box;
    padding-left: 37px;
    text-align: left;
}

.disc__date{
    font-size: 14px;
    font-weight: 700;
    color: #7a7a7a;
    padding-top: 35px;
    padding-bottom: 8px;
}

.disc:last-child .disc__date{
    padding-top: 70px;
}

.disc__title{
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border-top: 1px solid black;
    text-transform: uppercase;
    padding-right: 25px;
    padding-top: 5px;
}

.disc__long-title{
    font-size: 23px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding-top: 14px;
    letter-spacing: 0.4px;
}

.disc:last-child .disc__long-title{
    line-height: 1.4;
}

.disc__history{
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
    line-height: 1.8;
}

.button{
    width: 200px;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.footer{
    background-image: url("../images/footer.png");
    height: 786px;
    margin-top: -26vw;
}

@media screen and (max-width: 767px){
    .wrapper {
        max-width: 750px;
    }

    .header{
        width: 80%;
        padding-bottom: 0;
    }

    .main {
        max-width: 655px;
        width: 87%;
        margin: 0 7.5% 4%;
    }

    .disc:first-child {
        padding-top: 88px;
    }

    .disc {
        padding-top: 105px;
        display: block;
    }

    .disc:last-child {
        padding-top: 21px;
    }

    .disc__date-title{
        width: 100%;
    }

    .disc__date {
        padding-top: 0;
    }

    .disc__description{
        width: 100%;
        padding-left: 0;
    }

    .disc__long-title {
        padding-top: 38px;
        line-height: 1.1;
        padding-bottom: 10px;
    }

    .disc:first-child .disc__long-title{
        padding-top: 35px;
        line-height: unset;
        padding-bottom: 0;
    }

    .disc:last-child .disc__long-title{
        padding-top: 42px;
        line-height: 1.5;
        padding-bottom: 0;
    }

    .disc__history {
        line-height: 1.79;
        letter-spacing: 0.8px;
    }

    .disc__play-btn-wrapper {
        text-align: center;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .disc:last-child .disc__play-btn-wrapper{
        padding-top: 25px;
    }

    .footer{
        margin-top: -28vw;
        background-position: center;
        height: 545px;
    }
}